/*RESET*/
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Whitney', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    
}

/* DEBUG */


/* COMMON */
.container {
    width: 70%;
    margin: auto;
}
.flex-container {
     display: flex;
 }

.lightgray {
    background-color: lightgray;
}

.btn {
    text-decoration: none;
    padding: 15px 18px;
    border-radius: 24px;
}

.cta-btn {
    padding: 20px 10px;
}

.btn-small {
    text-decoration: none;
    padding: 8px 12px;
    border-radius: 15px;
}

.btn-white {
    background-color: white;
    color: black;
}
.btn-black {
    background-color: black;
    color: white;
}
.btn-lightblue {
    background-color: #7289da;
    color: white;
}
h1 {
    font-size: 45px;
    padding-bottom: 2vw;
}
h2 {
    font-size: 40px;
    line-height: 1.2;
    margin-bottom: 2vw;
}
h3 {
    font-size: 30px;
    line-height: 1.2;
    margin-bottom: 2vw;
}

p {
    font-size: 18px;
    line-height: 1.6;
}

img {
    width: 100%;
}
.img-stars {
    background-image: url(../img/stars.svg);
    background-size: cover;
    justify-content: center;
    align-items: center;
}
.section-btn-cta {
    padding: 20px 0;
    justify-content: center;
}

/* HEADER */
/* Header Top */
.header-top {
    padding: 20px 0;
    background-color: #255ee9;
}
.navigation-area {
    align-items: center;
    font-weight: 700;
}
.logo, nav, .login {
    padding: 5px;
}
/* Logo */
.logo {
    width: 20%;
}
/* Nav */
nav {
    width: 60%;
}
.menu {
    list-style-type: none;
    justify-content: center;
}
.menu li {
    padding: 0 10px;
}
.menu li a {
    text-decoration: none;
    color: white;
}
/* Login */
.login {
    width: 20%;
    text-align: right;
}
/* END Header Top*/

/* Header Bottom*/
.header-bottom {
    background-image: url(../img/jumbo.png);
    background-size: cover;
    height: 500px;
    justify-content: center;
    align-items: center;
}
.jumbotron-text {
    text-align: center;
    color: white;
    width: 55%;

}
/* END Header Bottom*/

/*MAIN*/
section {
    padding: 100px 0;
}
.col-img {
    width: 65%;
}
.col-text {
    width: 35%;
}
.section-full-box {
    text-align: center;
}
/* END MAIN*/

/*FOOTER*/
/*Footer Top*/
footer {
    background-color: #23272a;
}
.footer-top {
    padding: 10px 0 40px 0;
    /* TEST */
    border-bottom: 2px solid white;
}
.footer-main-colums {

    /*TEST*/
    border: 2px dashed black;

}
.footer-contact {
    background-color: lightcoral;
    width: 30%;

    /*TEST*/
    height: 550px;
    border: 2px dashed black;
}
.footer-menu {
    background-color: green;
    width: 70%;
    display: flex;

    /*TEST*/
    height: 550px;
    border: 2px dashed black;
}
.col-footer {
    background-color: cadetblue;
    width: 25%;

    /*TEST*/
    height: 550px;
    border: 2px dashed white;
}
/*END Footer Top*/

/*Footer Bottom*/
.footer-bottom {
    padding-top: 20px;
    border-bottom: 2px solid white;
}
.content-footer-bottom {
    justify-content: space-between;
    align-items: center;

    /*TEST*/
    background-color: aquamarine;
    height: 70px;
}
.col-footer-bottom {
    padding: 5px 7px;

    /*TEST*/
    background-color: pink;
    border: 2px dashed black;
}